.btn{
    margin: 20px;
    width: 80px;
    border-radius: 4px;
    height: 40px;
    color: white;
    font-size: 18px;
    text-align: center;
    border: none;
    background-color: rgb(175, 102, 243);
}

.btn:hover{
    cursor: pointer;
}